<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ml.lib_picture">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity android:name="com.ml.lib_picture.ui.photo.PhotoAlbumActivity" android:theme="@style/AppTheme"/>
        <activity android:name="com.ml.lib_picture.ui.photo.PhotoLookOverActivity" android:theme="@style/AppTheme"/>
    </application>

</manifest>